:root {
    --portfolio-header-color: rgb(126, 255, 255);
    --github-lines: rgb(215, 215, 215);
    --github-icon-bg: rgb(215, 215, 215);
    --github-active-link: rgb(23, 21, 21);
    --github-icon-color: rgb(23, 21, 21);
}

.portfolio {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;

    margin: 5vh 5vw;
    min-height: 80vh;

    font-family: "Exo 2";
    font-style: italic;
}

.portfolio-header {
    color: var(--portfolio-header-color);
    align-self: flex-start;
    font-size: 5vh;
    margin: 1em 0;
}

.github-link-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    width: 100%;
    
    margin: 2em 0;
}

.lines {
    flex-grow: 4;
    border: 1.5px solid var(--github-lines);
    color: var(--github-lines);
    border-radius: 2px;
    opacity: 1;
}

.github-link {
    background-color: var(--github-icon-bg);
    border-radius: 1em;
    flex-grow: 1;
    margin: 0 2vw;
    min-width: 120px;
    text-align: center;
    color: var(--github-icon-color);
    text-decoration: none;
    font-family: "Exo 2";
    font-size: 3vh;
    font-weight: 1000;
    font-style: normal;
}

.github-link:hover {
    color: var(--github-active-link);
}

.github-icon {
    color: var(--github-icon-color);
}

.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: flex-start;
    width: 100%;
    min-height: 80vh;
}